<p>Enter Employee Name - </p>
<input type="text" placeholder="Full Name" [(ngModel)]="employeeDetail.fullName" />
<p>Enter Employee Id - </p>
<input type="text" placeholder="Alpha Numeric Value" [(ngModel)]="employeeDetail.id" />
<p>Contact Number - </p>
<input type="number" placeholder="9999999999" [(ngModel)]="employeeDetail.contactNo" />
<button (click)="register()">Submit Details</button>
<hr>
<h3>Data Fetched From JSON</h3>
<div>
    <table>
        <thead>
            <th>Employee Name</th>
            <th>Employee Id</th>
            <th>Employee Contact Number</th>
        </thead>
        <tbody>
            <tr *ngFor="let data of employeeData">
                <td>{{data.fullName}}</td>
                <td>{{data.id}}</td>
                <td>{{data.contactNo}}</td>
            </tr>
        </tbody>
    </table>
</div>