<p>Enter Employee Name - </p>
<input type="text" placeholder="Full Name" [(ngModel)]="employeeDetail.fullName" />
<p>Enter Employee Id - </p>
<input type="text" placeholder="Alpha Numeric Value" [(ngModel)]="employeeDetail.id" />
<p>Contact Number - </p>
<input type="number" placeholder="9999999999" [(ngModel)]="employeeDetail.contactNo" />
<button (click)="register(); fetch()">Submit Details</button>
<hr>
<h3>Data Fetched From JSON</h3>
<div>
    <table>
        <thead>
            <th>Employee Name</th>
            <th>Employee Id</th>
            <th>Employee Contact Number</th>
        </thead>
        <tbody>
            <tr *ngFor="let data of employeeData">
                <td>{{data.fullName}}</td>
                <td>{{data.id}}</td>
                <td>{{data.contactNo}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<h3>Delete Employee Data</h3>
<p>Enter Employee Id - </p>
<input type="number" [(ngModel)]="empId">
<button (click)="deleteData(); fetch()">Delete Data</button>
<hr>
<h3>Update Employee Data</h3>
<p>Enter the Employee Id to Update - </p>
<input type="number" placeholder="Employee Id" [(ngModel)]="empIdToUpdate" />
<button (click)="fetchEmpData()">Get Employee Detail</button>
<div>
    <p>Employee Name - <input type="text" [(ngModel)]="employeeToUpdate.fullName" /></p>
    Employee Contact Number - <input type="number" [(ngModel)]="employeeToUpdate.contactNo" />
    <br><br>
    <button (click)="updateData(); fetch()">Save Changes</button>
</div>